@use "variables";

.button-primary,
.button-secondary {
	font-family: variables.$main-font-family;
	display: block;
	padding: 0.8em 2em;
	border-radius: 40px;
	text-decoration: none;
	line-height: normal;
	font-size: variables.$main-font-size;
	transition: all 0.3s;
}

.button-secondary {
	color: variables.$accent-1;
	&:hover {
		background-color: variables.$btn-secondary-hover-background;
		filter: brightness(1.2);
	}
	&:active {
		filter: brightness(0.6);
	}
}

.button-primary {
	color: white;
	border: none;
	background-color: variables.$accent-1;
	box-shadow: variables.$shadow-z2;
	&:hover {
		filter: brightness(1.6);
		box-shadow: variables.$shadow-z8;
	}
	&:active {
		filter: brightness(0.6);
	}
}
