@use "variables.scss";

.onoffswitch {
	position: relative;
	width: 100px;
	margin: 7vh auto 10vh;
	user-select: none;
}
.onoffswitch-checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	white-space: nowrap;
	border-width: 0;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid hsla(0, 0%, 0%, 0);
	border-radius: 20px;
}
.onoffswitch-label:hover,
.onoffswitch-checkbox:focus + .onoffswitch-label {
	outline: 2px solid variables.$accent-1;
	outline-offset: 2px;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "it";
	margin-left: 0px;
	color: variables.$color-white;
}
.onoffswitch-inner:after {
	content: "en";
	color: variables.$color-white;
}
#lang-switch + .onoffswitch-label .onoffswitch-inner {
	display: block;
	width: 100%;
	margin-left: 0;
}
.onoffswitch-switch {
	display: block;
	width: 50px;
	margin: 0px;
	background: variables.$background-dark-secondary;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	border-radius: 20px;
	transform: translateX(0);
	transition: transform 0.3s ease-out;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	transform: translateX(46px);
}
@media screen and (min-width: 768px) {
	.onoffswitch {
		margin: 0;
	}
}
