@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
